{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">👤 Buscar Paciente</h2>
    <div class="mb-3">
        <a href="javascript:history.back()" class="btn btn-volver">🔙 Volver</a>
    </div>

    <form method="get" class="mb-4">
        <div class="input-group">
            {{ form.query }}
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>

    {% if pacientes %}
        <div class="row row-cols-1 row-cols-md-2 g-3">
            {% for paciente in pacientes %}
            <div class="col">
                <div class="card p-3">
                    <h5>{{ paciente.nombres }} {{ paciente.apellidos }}</h5>
                    <p><strong>Documento:</strong> {{ paciente.documento_id }}</p>
                    <p><strong>Email:</strong> {{ paciente.email|default:"No registrado" }}</p>

                    <div class="d-flex gap-2 mt-2">
                        <a href="/pacientes/{{ paciente.id }}/editar" class="btn btn-outline-primary btn-sm">Editar</a>
                        <a href="/historia/{{ paciente.id }}/" class="btn btn-outline-info btn-sm">Historia</a>
                        {% with citas_pendientes|get_item:paciente.id as cita %}
                        {% if cita %}
                            <a href="{% url 'ver_panel_paciente_admin' paciente.id %}" class="btn btn-outline-success btn-sm">Ver cita</a>
                        {% else %}
                            <a href="{% url 'crear_cita_admin' paciente.id %}" class="btn btn-outline-warning btn-sm">Crear cita</a>
                        {% endif %}
                        {% endwith %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% elif form.is_bound %}
        <div class="alert alert-warning text-center">No se encontraron pacientes.</div>
    {% endif %}
</div>
{% endblock %}
